
.texto-com-fundo {
    background-color: #f2e9ce;
    border-radius: 30px;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    color: #ff6b00;
    text-align: center;
}
.menu-topo {
    position: fixed;
    top: 0;
    left: 250;
    right: 0;
    z-index: 1030;
    padding: 10px 20px;
    margin-top: -250px;
    margin-right: 200px;
}
body {
    padding-top: 70px;
}
body {
    background-color: #1e2a38;
    padding-top: 70px;
    color: white;
    background: linear-gradient(to right,#6c7271, #1e2a38);
    height: 100vh;
    margin: 0;
    

}
.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }
  
